## Importing and Organizing Your Data in Python - Part I

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

a. Create a series object of 10 randomly generated integer values.

In [1]:
import numpy as np
import pandas as pd

In [2]:
serO=pd.Series(np.random.random_integers(10))

/Users/khoale/opt/miniconda3/envs/myenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: This function is deprecated. Please call randint(1, 10 + 1) instead
  """Entry point for launching an IPython kernel.

In [3]:
serO

0    4
dtype: int64

b. Extract data from IEX for Ford from the 1st of January 2015. The ticker you need is ‘F’.

In [4]:
from pandas_datareader import data as web

In [7]:
TSLA = web.DataReader('TSLA', data_source='yahoo', start='2015-1-1')
TSLA

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-12-31,45.136002,44.450001,44.618000,44.481998,11487500.0,44.481998
2015-01-02,44.650002,42.652000,44.574001,43.862000,23822000.0,43.862000
2015-01-05,43.299999,41.431999,42.910000,42.018002,26842500.0,42.018002
2015-01-06,42.840000,40.841999,42.012001,42.256001,31309500.0,42.256001
2015-01-07,42.956001,41.956001,42.669998,42.189999,14842000.0,42.189999
...,...,...,...,...,...,...
2021-10-15,843.210022,822.349976,823.739990,843.030029,18818000.0,843.030029
2021-10-18,875.260010,851.469971,851.789978,870.109985,24207200.0,870.109985
2021-10-19,877.950012,862.510010,877.530029,864.270020,17381100.0,864.270020
2021-10-20,869.489990,857.380005,865.349976,865.799988,14032100.0,865.799988
2021-10-21,900.000000,855.500000,856.000000,894.000000,31396500.0,894.000000